*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.footer-container{
   max-width:100%;
   height:320px;
  
   background-color: rgba(11, 2, 35, 1);

}
.footer-game{
    display:flex;
    justify-content: center;
    gap:20px;
   
    
   
}
.game-title{
    color: rgba(255, 255, 255, 1);
    font-size:1.3rem;
    margin-top:50px;

}
.game-icon{
    color:rgba(255, 66, 165, 1);
    font-size:20px;
    margin-top:50px;
}
.span{
    color:rgba(255, 66, 165, 1);
}
.footer-title{
    width:50%;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap:30px;
    margin-top:30px;
    
   
}
.nav-list{
    color: rgba(255, 255, 255, 1);
    
}
.link{
    color: rgba(255, 255, 255, 1);
    margin-right:30px;

}
.privacy{
    width:40%;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap:30px;
    
}
.privacy-desciption{
    color:rgba(255, 255, 255, 0.6);
    font-size:0.8rem;
    margin-top:30px;
    
    
}
.copyright-title{
    color:rgba(255, 255, 255, 0.6);
    font-size:0.6rem;
    margin-top:30px;
    text-align: center;
    margin-bottom:50px;
}
.social-app{
    width:30%;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    margin-top:30px;
}


@media screen and (max-width:576px) {
    .footer-container{
        height:450px;
    }
    .footer-title{
        width:80%;
        grid-template-columns: repeat(3, 1fr);
    }
    .social-app{
        width:80%;
        grid-template-columns: repeat(3, 1fr);
        gap:20px;
    }
    .privacy{
        width:80%;
        grid-template-columns: repeat(2, 1fr);
        gap:5px;
    }
}